# Specific files
kernel_common/src/wasm/code_gen.rs

# Generic for the whole project
*.pyc
*.bk
*.swp
*.swo
*.swx
tags
target
dist
Cargo.lock
.*.rustfmt
cranelift.dbg*
.mypy_cache
rusty-tags.*
docs/_build
*~
\#*\#
